.carousel::-webkit-scrollbar {
  display: none;
}

.carousel {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  max-width: 1440px;
  overflow-x: auto;
  -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel:hover {
  scrollbar-width: thin;
}

.carousel:hover::-webkit-scrollbar {
  display: block;
}

.carouselList {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  gap: 10px;
}
