.topNav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  background-color: #0f0e0e;
  border-bottom: 2px solid #0f0e0e;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 0.25em #e6e6e9cc);
}

form {
  position: relative;
}

.navContainer {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navList {
  list-style: none;
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 30%;
  position: sticky;
  z-index: 1;
}

.searchBar {
  height: 30px;
  width: 300px;
}

.burgerMenu {
  display: none;
}

.searchIcon {
  position: absolute;
  top: 6px;
  right: 10px;
}

@media screen and (max-width: 768px) {
  .navContainer {
    padding: 1rem;
  }

  .navList {
    flex-direction: column;
    position: absolute;
    top: 75px;
    left: 0;
    background-color: #181717e8;
    width: 100%;
    padding: 0;
    border-bottom: 2px solid #0f0e0e;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s linear;
  }

  .logo {
    display: none;
  }

  .searchBar {
    width: 200px;
  }

  .navList.active {
    display: block;
    max-height: 400px;
    transition: max-height 0.8s linear;
  }

  .navList li {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
  }

  .burgerMenu {
    display: block;
  }
}
